
body {
    background: radial-gradient(circle, rgb(37, 195, 243) 0%, rgb(61, 5, 99) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


#nav {
    background: linear-gradient(to left, rgb(37, 195, 243), rgb(61, 5, 99));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h1 {
    color: black;
    opacity: 1;
    /**background: linear-gradient(to left, rgb(1, 204, 126), rgb(47, 211, 32));
    border-radius: 25px;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  **/
}

h3
{
    color: black;
}

#introPicture {
    height: 500px;
    background-image: url('img/NeuroFractals.jpg');
    background-color: rgba(130, 12, 209, 0.753);
    background-blend-mode:lighten;
}

p {
    color: black;
}

form {
    margin: 0;
    padding: 0;
    background: black
}

.shadow {
    position: relative;
    margin: 200px auto 0;
    background: linear-gradient(0deg, #000, #262626);
}

